<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
    Intellos Tokensale
  </a>
    <div class="mr-auto ">&nbsp;</div>
    <div>
        <span>Language:</span>
        <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
          {{ lang }}
        </option>
    </select>
    </div>
</nav>


<router-outlet></router-outlet>