<div class="card mb-4 box-shadow">
    <div class="card-header " style="background-color: #3f51b5;color: #eeeeee">
        <h6 translate>Bitcoin Refunding</h6>
    </div>
    <div class="card-body" style="color: #222222">
        <div style="font-size: 14px;">BTC Refund-Address: {{btcRefundAddress}}
            <span *ngIf="!btcRefundAddress" class="text-danger">
              Address not set
           </span>
        </div>
        <hr>
        <button type="button" class="btn btn-primary" (click)="setShow('set')" [disabled]="false"><i class="fas fa-plus"></i> Edit</button>
        <div *ngIf="show('set')">
            <br>
            <div class="form-group">
                <input type="text" id="btcRefundAddressID" class="form-control" matInput [(ngModel)]="btcRefundAddress" app-btcvalidator placeholder="BTC address" required #address="ngModel" [ngClass]="{ 'is-invalid': address.invalid && (address.dirty || address.touched), 'is-valid': address.valid && (address.dirty || address.touched)}">
                <div class="form-control-feedback invalid-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                    <p *ngIf="address.errors.required">BTC address is required</p>
                    <p *ngIf="address.errors.btcvalidator">Please provide a valid BTC address</p>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <br>
                <button type="button" (click)="save()" [disabled]="address.invalid" class="btn btn-primary">save</button>
            </div>
        </div>
    </div>
</div>